imports:
    - 'tests/Behat/Resources/config/suites.yaml'

default:
    extensions:
        FriendsOfBehat\VariadicExtension: ~
        FriendsOfBehat\SymfonyExtension: ~
        Behat\MinkExtension:
            base_url: "https://127.0.0.1:8080/"
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~
            show_auto: false

    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false
