{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - admin{% endblock %}

{% block body %}

    {% include 'manage/partials/linkform.html.twig' %}

    {% if pagination|length > 0 or pagination.params()['filterValue'] is defined %}
        <h4 class="mb-3">{{ 'title.all_links'|trans }}</h4>

        <div class="mb-4">
            {{
            knp_pagination_filter(pagination, {
                'o.longUrl': 'title.original_link'
            },{
                'button': 'button.filter'
            })
            }}
        </div>

        {% include 'manage/partials/linklist.html.twig' with {'is_admin': true } %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
