@charset "UTF-8";

@font-face {
    font-family: 'Nunito';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/nunito-bold.woff2') format('woff2'), url('../fonts/nunito-bold.woff') format('woff'), url('../fonts/Nunito-Bold.ttf') format('truetype');
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
    .content h3 {
        @apply mt-8 text-2xl leading-8 font-extrabold tracking-tight text-gray-900;
    }
    .content h4 {
        @apply mt-6 text-xl leading-8 font-extrabold tracking-tight text-gray-900;
    }
    .content p, li {
        @apply mt-2 text-base leading-6 text-gray-500;
    }
    .content a {
        @apply text-blue-600;
    }
    .content a:hover {
        @apply text-blue-900;
    }
}
