{% extends 'base.html.twig' %}

{% block title %}{{ 'title.manage' | trans({'%parent%': parent()}) }}{% endblock %}

{% block body %}

    {% include 'manage/partials/linkform.html.twig' %}

    {% if short_urls|length > 0 %}

        <h4 class="mb-3">{{ 'title.previous_links'|trans }}</h4>

        {% include 'manage/partials/linklist.html.twig' %}

    {% endif %}
{% endblock %}
