{% extends 'base.html.twig' %}

{% block title %}{{ 'title.manage' | trans({'%parent%': parent()}) }}{% endblock %}

{% block body %}

    {% include 'manage/partials/linkform.html.twig' %}

    {% if pagination|length > 0 or pagination.params()['filterValue'] is defined %}
        <h2 class="mb-3">{{ 'title.previous_links'|trans }}</h2>

        <div class="mb-4">
        {{
            knp_pagination_filter(pagination, {
            },{
                'button': 'button.filter'
            })
        }}
        </div>

        {% include 'manage/partials/linklist.html.twig' %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
